*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: rgb(3, 3, 46);;
}
.title{
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 50px;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(4, 4, 113);
    padding: 30px;
    margin: 50px;
    overflow: hidden;
    font-size: 20px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(4, 4, 81);
}
.navbar li{
    float: left;
}
.div1{
    color: white;
    font-size: 25px;
    padding: 50px;
    margin: 50px;
    float: center;
    border-style: solid;
}
img{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}