* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(to right, #041f7b, black);
}
nav {
    background: #0a1e5e;
    height: 100px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label.logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.thebook {
    background: linear-gradient(#e65b10, black);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.thebook img {
    max-width: 100%;
    margin: 20px;
}
.thebook p {
    font-size: 25px;
    margin: 10px;
    text-align: center;
}
.right {
    text-align: left;
    margin-left: auto;
    margin-right: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    label.logo {
        padding: 0 20px;
    }
    nav {
        padding: 10px;
    }
    .thebook {
        margin: 10px;
        padding: 10px;
    }
}