*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-image: linear-gradient(to right, #041f7b, black);
}
nav{
    background: #0a1e5e;
    height: 100px;
    width: 100%;
    padding: 5px;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.thebook{
    background: linear-gradient(#0d7023, black);
}
img{
    width: 640px;
    padding: 50px;
    margin: 50px;
    float: left;
}
p{
    color: white;
    text-align: right;
    font-size: 25px;
    padding: 100px;
}
.right{
    color: white;
    text-align: left;
    font-size: 25px;
    padding: 50px;
}
@media screen and (max-width: 600px) {
    p{
        font-size: 15px;
    }
    img{
        width: 240px;
        padding: 20px;
        margin: 20px;
        float: left;
    }
    .right{
        color: white;
        text-align: left;
        font-size: 15px;
        padding: 20px;
    }
    nav ul{
        float: right;
        margin-right: 20px;
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a{
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
}